{% extends 'base.html' %}
{% block content %}
{% load static %}
	<link rel="stylesheet" href="{% static 'login.css' %}"> 
	<center> 
		<form action="/login/newpassword/" method="post" style="height: 85"> {% csrf_token %}
			<table id=login align="center" width="110%" height="65%"><tr><td>
			<center>
			<img src="{% static 'loginpage.png'%}" alt="Avatar" width="60px"><br>
			<font color="red" size=4> {{ msg1 }} </font><br><br>
			</center>
			<font color="black" size=3>Enter Email Address registered with account.</font><br>
			<input type="email" placeholder="Email" name=email required><br><br>
			<input type="submit" class="button" value="Go" placeholder="Enter Email Id" style="background-color: green; color:white;" required><br>
		</td></tr></table>
		</form>
	</center>
{% endblock %}