{% extends 'base.html' %}
{% block content %}
{% load static %}
	<link rel="stylesheet" href="{% static 'login.css' %}"> 
	<br><br>
	<form action="/login/addnewpassword/" method="post" style="height: 85"> 
		<table id=login align="center" width="110%" height="65%"><tr><td>
		<center>
			<img src="{% static 'loginpage.png'%}" alt="Avatar" width="60px"><br>
			<font color="red" size=4> {{ msg1 }} </font><br><br>
		</center>	
		{% csrf_token %}
				<font size=4 color="black"> New Password : </font><br>
						<input type="password" name="pass" placeholder="Enter new password" pattern=.{6,11} required><br><br>
				<font size=4 color="black">Confirm Password : </font><br>
						<input type="password" name="cpass" placeholder="Confirm Your Password" pattern=.{6,11} required><br>
					<input type="submit" value="Change" class=button style="background-color: green; color:white;">
					</td>
				</tr>
			</table>
	</form>
{% endblock %}